Contenedor principal para las cartas y el filtro
.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

/* Estilo para el contenedor del formulario de filtros */
.filterContainer {
  flex: 0 0 300px; /* Ancho fijo para el formulario */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 20px; /* Espacio desde la parte superior de la pantalla */
  height: fit-content; /* Ajustar la altura al contenido */
}


