
.card {
  max-width: 350px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  margin-left: auto; /* Alinea a la derecha */
  margin-right: 20px; /* Espacio a la derecha del usuario */
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.details{
  padding: 20px;
}

.name {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.author,
.editorial,
.category {
  font-size: 14px;
  color: #666;
}

.price {
  background-color: rgb(13, 88, 39);
  padding: 5px;
  margin-left: 250px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 8px;
}

.description {
  font-size: 14px;
  color: #333;
  margin-top: 12px;
}