.downloads {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.downloads h1 {
  text-align: center;
  margin-bottom: 20px;
}

.downloads ul {
  list-style-type: none;
  padding: 0;
}

.downloads li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.downloads img {
  width: 100px;
  height: 150px;
  margin-right: 20px;
}

.downloads div {
  flex: 1;
}

.downloads button {
  padding: 10px 20px;
  background-color: #150B2D;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transactions {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: center;
}

.transactions h2 {
  text-align: center;
  margin-bottom: 20px;
}

.transactions table {
  width: 100%;
  border-collapse: collapse;
}

.transactions th,
.transactions td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.transactions th {
  background-color: #f2f2f2;
}

.transactions .bookInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.transactions .bookInfo img {
  width: 100px;
  height: 150px;
  margin-right: 10px;
  border-radius: 5px;
}

.transactions .bookInfo div {
  flex: 1;
  text-align: left;
}
