/* Cart.module.css */

.shopping-cart {
    width: 50%;
    margin: 20px auto; /* Centra el carrito en la pantalla */
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .Title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .cart-item img {
    width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 150px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .remove-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #c0392b;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .buttons-container button {
    padding: 10px 20px;
    background-color: #150B2D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttons-container button:hover {
    background-color: #3521a3;
  }
  
  .link-to-checkout {
    text-decoration: none;
  }
  