/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cdccd1;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 97%;
    top: 0;
   height: 120px;
    z-index: 1000;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

.search-bar:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.shopping-cart {
    height: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.dropdown {
    position: relative;
    margin-left: 20px;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s ease;
}

.dropdown-toggle:hover {
    color: #ddd;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #150B2D;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px 0;
    display: none;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: #444;
}
